.square {
    width: 100px;
    height: 100px;
    background-color: #73dab2;
}

.flex {
    margin: 10px;
}

/* Flexbox 1 */

.flexOne {
   display: flex; 
}

.flexOne > .square {
    margin: 5px; 
}

/* Flexbox 2 */

.flexTwo {
    display: flex;
    flex-direction: column;
}

.flexTwo > .square {
    margin: 2px; 
}

/* Flexbox 3 */

.flexThree {
    display: flex;
    flex-direction: row-reverse;
}

.flexThree > .square {
    margin: 2px; 
}

/* Flexbox 4 */

.flexFour {
    display: flex;
    width: 350px;
    flex-wrap: wrap;
}

/* The instructions don't explicitely mention to use flex-wrap, but I've added it since the expected result is having the last of the squares wrapping into a second line. */

.flexFour > .square {
    background-color: #3d8b6d;
    margin: 5px;
}

/* Flexbox 5 */

.flexFive {
    display: flex;
    width: 350px;
}

.flexFive > .item {
    background-color: #0b6643;
    width: 100px;
    height: 100px;
    margin: 2px;
}

.flexFive > #grow {
    flex-grow: 2;
}

/* Flexbox 6 */

.flexSix {
    height: 400px;
    width: 500px;
    background-color: #f1f1f1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Although it's not in the instructions, I've added justify-content: space-between in the flexSix container so that the rows display clearly, as in the example. */

.flexSix > .one {
    display: flex;
    justify-content: space-around;
}

.flexSix > .two {
    display: flex;
    justify-content: space-between;
    background-color: #d6d6d6;
}

.flexSix > .three {
    display: flex;
    justify-content: space-evenly;
}

/* Flexbox 7 */

.flexSeven {
    height: 400px;
    width: 500px;
    display: flex;
    justify-content: space-between;
    background-color: #f1f1f1;
}

.flexSeven > .one {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.flexSeven > .two {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: #d6d6d6;
}

.flexSeven > .three {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.flexSeven > .four {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #d6d6d6;
}

/* I've added background-color: #f1f1f1; in the container and background-color: #d6d6d6; in divs two and four to improve visibility */

/* Flexbox 8 */

.flexEight {
    display: flex;
    height: 400px;
    width: 300px;
    background-color: #eeeeee;
}

.flexEight > .one {
    display: flex;
    align-items: center;
}

.flexEight > .two {
    display: flex;
    align-items: flex-end;
}

.flexEight > .three {
    display: flex;
    align-items: flex-start;
}

/* Flexbox 9 */

.flexNine {
    display: flex;
    width: 450px;
    height: 250px;
    background-color: #eeeeee;
    align-items: flex-start;
    justify-content: space-evenly;
}

.flexNine > #special {
    align-self: flex-end;
}